{
    "extends": [
        "ebay",
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "rules": {
        "space-before-function-paren": [
            "error",
            {
                "asyncArrow": "always"
            }
        ]
    },
    "ignorePatterns": [
        "dist/"
    ],
    "plugins": [
        "@typescript-eslint"
    ]
}